.fb1 {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    background-color: antiquewhite;
    padding: 1rem;
    /* flex-direction: column-reverse */
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: baseline;
}

.fb1 section {
    padding: 1rem;
    background-color: aliceblue;
    margin: 10px;
    height: 50px;
    order: 4;
    flex-grow: 2;
}

/* 自动放大 */
/* .fb1 section:nth-child(1),
.fb1 section:nth-child(3) {
    flex-grow: 1;
}
.fb1 section:nth-child(2) {
    flex-grow: 3;
} */

